*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

li.nav-item {
  color: #79CFE4;
}

nav {
  
  background-color: #fff;

}


.navbar-toggler {
  margin: 20px;
  
}

.velikoSlovo {
  text-transform: capitalize;
}
 

h3 {
  color: white;
  cursor: pointer;
}

div.col-sm-12.col-md-6.col-lg-6
 {
  margin-top: 20px;
}
ul.informacije{
  list-style: none;
  margin: 10px 0 0 10px;
  
}

footer.container-fluid {
  background-color: #d9dce0;
  padding: 0;
}

form.vesti {
  margin: 10px 0 0 10px;
}

ul.informacije li a {
  text-decoration: none;
  padding: 5px;
}

#logo2 {
  margin: 10px 0 0 10px;

}

img#logo2.img-fluid {
  width: 300px;
}




}

div.col-sm-12.col-md-4.col-lg-4 {
  padding-right: 0;
}



.masthead {
  height: 100vh;
  width: 100vw;
  min-height: 500px;
  background-image: url('Assets/img/proba2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
 
}

.col{
  margin-top: 15px;
}
.zakazivanjebtn:hover{
  background-color: #fff;
  color:#79CFE4;
border-color: #ccc; 

font-size: 35px;
transition: 2s;
font-weight:bold;

}
.zakazivanjebtn{
  background-color: #fff;
  color:#245497;
  padding: 20px;
}
.form-control{
 
  border-radius: 10px;


}
.dropdown-menu{
  border-radius: 10px;

}
.dropdown-item{
  color: #245497;
}
.dropdown-item:hover{
  background-color:#79CFE4;
  color: white;
}
.nav-link{
  color: #79CFE4 !important;
  font-size: 20px;
  padding: 15px;
  margin: 15px;
}
.nav-link:hover{
  color:white !important;
  background-color:  #79CFE4;
  transition: 1.5s;
  border-radius: 10px;

}    
.prvi {
  display: none;
}    
.drugi{
  display: none;
}           

.treci {
  display: none;
}           
.logovanje{
  margin: 30px;
  
}







  


